# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.*

# Kubernetes secrets
k8s/secrets.yaml
k8s/*secret*.yaml
k8s/*secrets*.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build
dist
build

.vscode/

commands

heavy.js
heavy.ts