apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: cloudserve
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/venkatakrishna8730/cloudserve-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: secrets
---
apiVersion: v1
kind: Service
metadata:
  namespace: cloudserve
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
